@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Roboto&display=swap');

h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background:url(biblio.jpg) no-repeat;
    background-color: rgba(95, 158, 160, 0.719);
}

.gris{
    background: rgba(0, 0, 0, 0.700);
   
}

#navbar1{
    margin-left: 19px;
}

#navbar2{
    margin-left: 50%;

}

#volver1{
    margin-left: 205px;
}

#volver2{
    margin-left: 375px;
}

#repodiv{
    padding-left: 5%;
}

#text1{
    margin-left: 50px;
    margin-right: 650px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 850px;
    background-color: rgba(0, 0, 0, 0.199);
    font-family: 'Outfit';
    color: whitesmoke;    
    
}

#div1{
    border: 0;
    outline: 0;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.199);
    color: black;
    position: relative;
    font-family: 'Outfit';
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 0%;
    padding-top: 2em;
    padding-bottom: 2em;
        
}



